<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body style="height: 100%;">
    <section class="mart_container" style="height: 100% !important;">
        <div class="" style="position: sticky !important; top: 0px; z-index: 1000;">
            <!-- NAVBAR -->
          <div>
            <!-- Navbar_1 -->
            <nav class="navbar navbar-expand-md navbar-light border-bottom border-1 border-secondary">
                <div class="container navtop">
                  <div class="navbar-brand">
                    <a class="navbar-brand nav2 text-white navtop-sm" href="#"><i class="fa fa-user me-2" aria-hidden="true"></i>OrnelNg@gmail.com</a>
                  </div>
                  <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars text-white navtop-sm" aria-hidden="true"></i>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                      <a class="nav-link nav2 text-white" href="#"><i class="fa fa-phone me-2" aria-hidden="true"></i>+234 705 720 2968</a>
                      <a class="nav-link nav2 text-white" href="#"><i class="fa fa-map-marker me-2" aria-hidden="true"></i>23A Adeyemo Alakija Street, Victoria Island, Lagos.</a>
                      
                    </div>
                  </div>
                </div>
            </nav>
  
            <!-- Navbar_2 -->
            <nav class="navbar navbar-expand-md navbar-light">
                <div class="container navtop">
                  <!-- <a class="navbar-brand" href="#"><h1>ORNELNG</h1></a> -->
                  <h1 class="logo"><a href="/" class="text-decoration-none text-white">ORNEL<span class="text-danger">NG</span></a></h1>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAlt" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars text-white" aria-hidden="true"></i>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAlt">
                    <div class="navbar-nav ms-auto">
                      <a class="nav-link fw-bolder text-white active" aria-current="page" href="/">Home</a>
                      <a class="nav-link fw-bolder text-white" href="/mart"  style="cursor: pointer;">Car Mart</a>
                      <a class="nav-link fw-bolder text-white disabled" href="#" tabindex="-1" aria-disabled="true">Property Pool</a>
                      <a class="nav-link fw-bolder text-white disabled" aria-current="page" href="#"  style="cursor: not-allowed;">Blog</a>
                      <a class="nav-link fw-bolder text-white" href="#contact">Contact Us</a>
                    </div>
                  </div>
                </div>
            </nav>
          </div>
        </div>
        <div class="container mt-2 mb-2">
            <div class="row g-2 justify-content-between" style="height: 100% !important;">
                <div class="col-12 col-md-6 col-lg-6 item col-cal" style="height: 480px;">
                    <div id="carouselExampleIndicator" class="carousel slide" data-bs-ride="carousel" style="height: 100%;">
                        <div class="carousel-indicators carousel-indicatorsY" style="height: 160px !important;">
                          <button type="button" data-bs-target="#carouselExampleIndicator" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"><img src=<%= car.carImage1 %> class="d-block h-100 w-100" alt="..."></button>
                          <button type="button" data-bs-target="#carouselExampleIndicator" data-bs-slide-to="1" aria-label="Slide 2"><img src=<%= car.carImage2 %> class="d-block h-100 w-100" alt="..."></button>
                        </div>
                        <div class="carousel-inner carousel-innerY" style="height: 320px !important;">
                          <div class="carousel-item active">
                            <img class="cal-img1" src=<%= car.carImage1 %> class="d-block w-100" alt="..."  style='height: 320px;'>
                          </div>
                          <div class="carousel-item">
                            <img class="cal-img2" src=<%= car.carImage2 %> class="d-block w-100" alt="..." style='height: 320px;'>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicator" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicator" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <!-- <img src="./images/ji2.webp" alt="img.webp"> -->
                </div>
                <div class="col-12 col-md-6 p-4 col-lg-6 item bg-item" style="display: flex; justify-content: center; align-items: center; background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../images/benz1.webp') !important; background-repeat: no-repeat; background-position: center; background-size: cover;">
                    <div class="p-4" style="width: 80%; background-color: rgba(255, 255, 255, 0.636);">
                      <h2 class="fw-bold text-center">Contact Us for Details</h2>
                      <p class="text-center" style="font-size: 13px;">Our price are highly negotiable</p>
                      <div class="d-flex mt-3 flex-column align-item-between" style="width: 100%;">
                        <div class="mb-2 border border-2 border-black p-2 rounded-pill" style='font-size: 13px;'><i class="fa fa-home me-3" aria-hidden="true" style="color: red"></i>Lorem ipsum dolor sit amet.</div>
                        <div class="mb-2 border border-2 border-black p-2 rounded-pill" style='font-size: 13px;'><i class="fa fa-envelope me-3" aria-hidden="true" style="color: red"></i>OrnelNg@gmail.com</div>
                        <div class="mb-2 border border-2 border-black p-2 rounded-pill" style='font-size: 13px;'><i class="fa fa-mobile me-3 fs-4" aria-hidden="true" style="color: red"></i>+23456816387732899</div>
                      </div>
                    </div>
                </div>
                
            </div>
        </div>
        <%- include('./partials/footer.ejs') %> 
    </div>
</body>
</html>